@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao SimpleBlog!</h1>
    <p>Para novo cadastro de usuário clique em Registrar. Ou apenas ver posts clicando em Postagens.</p>
</div>
